

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(75,6,5);
  background: linear-gradient(127deg, rgba(75,6,5,1) 0%, rgba(252,70,107,1) 100%);
}

p {
  font-family: 'Ubuntu', sans-serif;
  color: gray;
}

h3 {
  font-size: 1.25rem;
  font-family: "Montserrat-bold", sans-serif;
  font-weight: bold;
  margin: 0.5rem auto;
}

h2 {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* navigation */

.navbar {
  padding-bottom: 2.5rem;
  font-family: 'Ubuntu', sans-serif;

}
.row {
  margin-left: 0;
  margin-right: 0;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: .8rem;
}

.nav-item {
  color: white;
  padding: 0 10px;
  font-size: 1.05rem;
}

/* title */


.web-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

.container-fluid {
  padding: 3% 15% 5%;

}

.titled-mockup {
  width: 20%;
  transform: rotate(20deg);
  position: absolute;
  right: 24%;
  margin-top: 3%;
}

.download-buttons {
  margin: 5% 2.5% 0 0;
}

.title-div {
  padding-bottom:10%;
}


/* features */

.features-div {
  background-color: white;
  position: relative;
  z-index: 1;
}

.callouts {
  text-align: center;
}

.meat-icons {
  font-size: 2.5em;
  color: Tomato;
  margin-bottom: 15px;
}

.meat-icons:hover {
  color: brown;

}

/* testimonials */

.testimonials-div {
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.ham-shot {
  width: 10%;
  height: auto;
  border-radius: 50%;
  margin-right: 1rem;
}

.press-section {
  text-align: center;
  background-color: Tomato;
}

.press-logos {
  width: 15%;
  margin: 5% 2%;
}

.carousel-h2 {
  padding-bottom: 4%;
  font-family: 'Ubuntu'
}

/* keeps arrow buttons visbile */
.carousel-item {
  padding: 7% 15% 5%;
}


/* pricing */

.pricing-div {
  background-color: white;
}

.card-group {
  text-align: center;
  font-family: "Montserrat"
}

.card {
  padding: 0;
  margin: 5px;

}

/* call to action */

.cta-div {
  text-align: center;
}

.cta-h3 {
  color: white;
  line-height: 1.5rem;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
}

/* media queries */

@media (max-width: 995px) {
  .title-div{
    text-align: center;
  }

  .titled-mockup {
    transform: rotate(0);
    position: static;
    width: 50%;
    margin-top: 4rem;

  }
}
